# Dependencias pnpm
node_modules/
.pnpm/
.pnpm-store/
.pnpm-debug.log
pnpm-lock.yaml

# Build artifacts
/lib
/esm
/build
*.tsbuildinfo

# Testing y cobertura
/coverage
.nyc_output
jest.config.*js
jest.setup.*js
/**/*/__tests__/
# Archivos de configuración
tsconfig.test.json
babel.config.js
.babelrc

# Editor e IDE
.vscode/
.dist/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Entorno
.env
.env.local
.env.*.local

# Paquetes
*.tgz

# Configuraciones locales
.eslintcache
.stylelintcache

#doctype
/scripts/